#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(223, 97%, 57%);
    color: white;
    cursor: pointer;
    font-weight: bold;


}

button:hover{
        background-color: hsl(223, 97%, 67%);   
}
button:active{
        background-color: hsl(223, 97%, 77%);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#dice_result{
    margin: 25px;
}

#diceImages img {
    width: 150px;
    margin: 5px;

}